.container_appbar {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;

    span {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }
}

.list_menu {    
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-left: 1rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
        }
    }
}